@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,800;1,400;1,500&family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Raleway:ital,wght@1,800&display=swap');


/* Nav Bar Font */
@import url('https://fonts.googleapis.com/css2?family=Timmana&display=swap');

 /* font-family: 'Orbitron', sans-serif; */
 /* font-family: 'Merriweather', serif; */


h1 {
    font-family: 'Merriweather', serif;
    color:rgb(29, 95, 165);
}

text#Bar {
    font-family: 'Timmana', sans-serif;
    color:rgba(255, 255, 255);
}

text#footer {
    font-family: 'Timmana', sans-serif;
    color:rgba(255, 255, 255);
}



h2 {
    font-family: 'Merriweather', serif;
    color:rgb(90, 163, 241); 
}

h4{
    font-family: 'Raleway', sans-serif;
    color:rgb(66, 70, 83);
}

.Inside{
    font-family: 'Raleway', sans-serif;
    font-size-adjust: inherit;
    color:black;
}

text {
    font-family: 'Merriweather', serif;
    color: white;
}

div .App-Container {
    /* background: url('../images/backgrounds/Background15.eps');
    background-size: 100% 100%;  */
}
div .Header{
    justify-self: center;
    align-self: center;
    margin-left: 25px;
}

.inline-flex-parent {
    display: inline-flex;
    align-self: 'center';
}



.grid-parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10;
  }

div .Info {
    margin-left: 60pt;
    margin-right: 15pt;
    margin-top: 2pt;
}

div .BioStyle {
    border-Top: 10px solid rgb(76,127,158);
    border-bottom: 10px solid rgb(76,127,158);
    margin-top: 10px
}

div .Footing {
    padding: 1%;
    border: 2px;
    border-color: aliceblue;
    border-width: 10px;
  
}


h6, h6 .right {
    font-family: 'Merriweather', serif; 
    color: white;
}


h6 .right {
    align-items: flex-end;
    
}