@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,800;1,400;1,500&family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Raleway:ital,wght@1,800&display=swap');

 /* font-family: 'Orbitron', sans-serif; */
 /* font-family: 'Merriweather', serif; */
h1 {
    font-family: 'Merriweather', serif;
    color:white;
}

h2 {
    font-family: 'Merriweather', serif;
    color:white; 
}

h4{
    font-family: 'Raleway', sans-serif;
color:white;
}

.Inside{
    font-family: 'Raleway', sans-serif;
    font-size-adjust: inherit;
    color:black;
}

text {
    font-family: 'Merriweather', serif;
    color: white;
}
div .App-Container {
    background: url('../images/backgrounds/africa.jpg');
}
div .Footing {
    padding: 1%;
    border: 2px;
    border-color: aliceblue;
    border-width: 10px;
    /* text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%; */
}

hr{
    border: 1px solid black;
}

p{
    font-family: 'Merriweather', serif;
    color:white;
}


p .right {
    align-items: flex-end;
}